# macOS
.DS_Store

node_modules/

# Firebase
*/config/firebase/*.json

# Python
__pycache__/
*.pyc

migrations/
mercy_kids

# Docker
docker/*/data/*

# Virtualenv
.Python
venv/[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json